$color-primary:  rgb(66, 12, 52);
$color-primary-light: #720D5D;
$color-primary-verylight: rgb(165, 33, 139);
$color-primary-dark: rgb(66, 12, 52);
$color-win: rgb(35, 150, 35);
$color-loss: #E30425;
$color-back: #f2f2f2;
$color-coin-yellow: rgb(218, 218, 20);
$color-coin-red: #E30425;